.circles {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	canvas {
  	// height x  width are 200px by default in aboutMe.ts and scaled down
  	height: 150px !important;
  	width: 150px !important;
  	@media (min-width: @desktopMax) {
  		height: 180px !important;
  		width: 180px !important;
  	}
  	@media (max-width: @tabletMax) {
  		height: 100px !important;
  		width: 100px !important;
  	}
  	@media (max-width: @phoneMax) {
  		height: 80px !important;
  		width: 80px !important;
  	}
  }

}

.progress-circle {
  //display: initial !important; // bug when fading in with circleProgress
  text-align: center;
  position: relative;

  .progressbar-text {
    color: white !important;
    font-weight: bold;
    font-size: 30px;
  }

  @media (max-width: @phoneMax) {
    flex-basis: 50%;

  }
}