<div class="rotated-45 colored color-1"></div>	
<div class="rotated-45 colored color-2"></div>	
<div class="rotated-95 colored color-3"></div>	
<div class="rotated-45 colored color-4"></div>	
<div class="rotated-45 colored color-5"></div>	
<div class="rotated-95 colored color-6"></div>
<div class="rotated-95 colored color-7"></div>		

<section id="experience">	
  <div class="scale-and-titles clearfix">
    <h1>Experience.</h1>

    <div class="work-titles">
      <p class="title" *ngFor="let work of works" [style.width]="work.width + '%' ">{{work.title}}</p>
    </div>
    <div class="work-scale">
      <div class="work-period" *ngFor="let work of works"  
           [style.width]="work.width + '%' ">
           <p class="duration">{{work.duration}}</p>
      </div>
    </div>
    <div class="work-imgs-container ui special cards">
      <div class="card" *ngFor="let work of works">
          <div class="content">
            <div class="center">
              <img [src]="'img/'+ work.img">
              <p class="work-date">{{work.date}}</p>
              <h4 class="work-description">{{work.description}}</h4>
            </div>
          </div>
	        <div class="header">
	        	<h3 class="work-title">{{work.title}}</h3>
	        	<p class="work-position">{{work.position}}</p>
	        </div>

      </div>
    </div>

  </div>
</section>
